
	<div class="section">
		
		<h1>Ulogiraj se</h1>

		<center>




			<%= form_tag('api/sessions') do %>
				<div class="panel-heading">Login (new user?)</div>
				<div class="panel-body">
			        <!-- {{input valueBinding="email" placeholder="Email"}} -->
			      <%= label_tag(:email, "Email:") %>
			      <%= text_field_tag(:email, params[:email]) %>
			      <%= label_tag(:password, "Password:" ) %>
			      <%= password_field_tag(:password) %>
			        <!-- {{input type="password" valueBinding="password" placeholder="Password"}} -->
			      <%= submit_tag("Login") %>
				</div>
			<% end %>
		</center>
	</div>
