<div class="loginPanel">
	<div class="panel panel-default">
		<div class="panel-heading">Registration</div>
		<div class="panel-body">
			<label>
				{{input valueBinding="name" placeholder="Name"}}
			</label>
			<label>
        {{input valueBinding="email" placeholder="Email"}} 
      </label>
      <label>
        {{input type="password" valueBinding="password" placeholder="Password"}}
      </label>
      <label>
      	{{input type="password" valueBinding="password_confirmation" placeholder="Password confirmation"}}
      </label>
      <button {{action 'submit'}}>Register</button>
		</div>
	</div>
</div>
{{outlet}}
