<!DOCTYPE html>
<html>
<head>
  <title>Quizportal</title>
  <!--<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>

<script>
    $(document).ready(function() {
      $(window).scroll(function() {
        var offset = $("body").scrollTop();
        var obj = $('.navbar');
        if (offset > 120) {
          obj.addClass('navbar-smaller');
          obj.css('height','');
          obj.css('background-color', '');
          $('.navbar .navbar-collapse').css('padding', '8px 0');
        }
        else {
          obj.removeClass('navbar-smaller');
          obj.css({height: 100-(offset/120 * 36)});
          obj.css('background-color', 'rgba(68,53,116,'+offset/150+')');
          $('.navbar .navbar-collapse').css({
            paddingTop: 25 - offset/120*17,
            paddingBottom: 25 - offset/120*17
          });/*
          $('#banner > *').css({
            opacity: (1-offset/120*0.6);
          });*/
        }
        
        /*if (offset > 100) {
          obj.addClass('navbar-smaller');
        } else {
          obj.removeClass('navbar-smaller');
        }
        */
      });
    });
</script>

</head>

<body>
<div class="navbar">
  <div class="container">
    <div class="navbar-collapse float-left">
      <a class="navbar-brand" href="/">Quizportal</a>

    </div>
    <div class="navbar-collapse float-right">
      <ul class="navbar-nav nav">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <% if session[:current_user_id] %>
            <li><a href="/user"> <%= User.find( session[:current_user_id] ).name.to_s %> </a></li>
            <li><%= button_to "Logout", "/api/sessions", method: :delete %></li>
          <% else %>
            <li><a href="/login">Login</a></li>
          <% end %>
      </ul>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
